Welcome to the B-Sitter App Home Page
<p>
<%= link_to 'Sign Up as a User', sign_up_path%>
</p>
<p>
<%= link_to "Sign Up as a BBSitter", new_article_path %>
</p>
<p>
<%= link_to 'View Users', users_path%>
</p>
<p>
<%= link_to 'View BBsitters', articles_path%>
</p>
<p>
<%= link_to "Log out", logout_path, method: :delete %>
</p>
<p>
<%= link_to "Log in", login_path %>
</p>

